@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;   
}


.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background-color: #febbb5;
    padding-bottom: 91px;
}

.box{
    width: 600px;
    min-height: 600px;
    background-color: #FC766AFF;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 1px 1px 10px gray;

    
}
#item{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 1px 5px gray;
    font-weight: bold;
    outline: 0;
    background-color: #febbb5;
}
#to-do-box{
    padding-top: 20px;
    list-style: none;
    
}
#to-do-box li{
    position: relative;
    background-color: #febbb5;
    padding: 10px;
    color: black;
    border-radius: 10px;
    padding-right: 30px;
    text-align: justify;
    margin-top: 10px;
    user-select: none;
    box-shadow: 0px 1px 5px gray;


}
#to-do-box li i{
    position: absolute;
    right: 10px;
    top: 10px;
}
.done{
    text-decoration: line-through;
    color: black;
    background-color: #fed2ce !important;
}

.time-show{
    background-color: #febbb5;
    padding-top: 20px;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    font-family: 'Tilt Neon', cursive;
    font-weight: bold;
    color: black;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-icon{
    width: 40px;
    margin-right: 10px;

}

.quote-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #febbb5;
    padding-top: 30px;
}

.quote-box{
    padding: 10px;
    text-align: center;
    font-family: 'Tilt Neon', cursive;
}
.quote{
    font-size: 30px;
}
#btn{
    margin-top: 30px;
}